body{
    padding: 2%;
    background-color: rgb(117, 183, 183);
}

.header{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-color: rgb(41, 41, 80);
    background-color: rgb(48, 99, 99);
    max-width: 60%;
    scale: 90%;
    min-width: 150px;
    padding: 3px;
}
.card:hover{
    background-color: rgb(66, 117, 117);
}


img{
    width: 100px;
    height: 100px;
}

.product-title{
    font-size: 15px;
}

.descripcion{
    font-size: 10px;
}

.datos{
    font-size: 10px;
}